{% if site.footer-links.dribbble %}
    <div class="tooltip">
        <a href="https://dribbble.com/{{ site.footer-links.dribbble }}">
            <i class="svg-icon dribbble"></i>
        </a>
        <span class="tooltiptext">Dribbble</span>
    </div>
{% endif %}
{% if site.footer-links.email %}
    <div class="tooltip">
        <a href="mailto:{{ site.footer-links.email }}">
            <i class="svg-icon email"></i>
        </a>
        <span class="tooltiptext">Email</span>
    </div>
{% endif %}
{% if site.footer-links.facebook %}
    <div class="tooltip">
        <a href="https://www.facebook.com/{{ site.footer-links.facebook }}">
            <i class="svg-icon facebook"></i>
        </a>
        <span class="tooltiptext">Facebook</span>
    </div>
{% endif %}
{% if site.footer-links.flickr %}
    <div class="tooltip">
        <a href="https://www.flickr.com/{{ site.footer-links.flickr }}">
            <i class="svg-icon flickr"></i>
        </a>
        <span class="tooltiptext">Flickr</span>
    </div>
{% endif %}
{% if site.footer-links.github %}
    <div class="tooltip">
        <a href="https://github.com/{{ site.footer-links.github }}">
            <i class="svg-icon github"></i>
        </a>
        <span class="tooltiptext">Github</span>
    </div>
{% endif %}
{% if site.footer-links.instagram %}
    <div class="tooltip">
        <a href="https://instagram.com/{{ site.footer-links.instagram }}">
            <i class="svg-icon instagram"></i>
        </a>
        <span class="tooltiptext">Instagram</span>
    </div>
{% endif %}
{% if site.footer-links.linkedin %}
    <div class="tooltip">
        <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">
            <i class="svg-icon linkedin"></i>
        </a>
        <span class="tooltiptext">LinkedIn</span>
    </div>
{% endif %}
{% if site.footer-links.pinterest %}
    <div class="tooltip">
        <a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}">
            <i class="svg-icon pinterest"></i>
        </a>
        <span class="tooltiptext">Pinterest</span>
    </div>
{% endif %}
{% if site.footer-links.rss %}
    <div class="tooltip">
        <a href="{{ site.baseurl }}/feed.xml">
            <i class="svg-icon rss"></i>
        </a>
        <span class="tooltiptext">RSS</span>
    </div>
{% endif %}
{% if site.footer-links.twitter %}
    <div class="tooltip">
        <a href="https://www.twitter.com/{{ site.footer-links.twitter }}">
            <i class="svg-icon twitter"></i>
        </a>
        <span class="tooltiptext">Twitter</span>
    </div>
{% endif %}
{% if site.footer-links.stackoverflow %}
    <div class="tooltip">
        <a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}">
            <i class="svg-icon stackoverflow"></i>
        </a>
        <span class="tooltiptext">Stackoverflow</span>
    </div>
{% endif %}
{% if site.footer-links.youtube %}
    <div class="tooltip">
        <a href="https://youtube.com/{{ site.footer-links.youtube }}">
            <i class="svg-icon youtube"></i>
        </a>
        <span class="tooltiptext">Youtube</span>
    </div>
{% endif %}
{% if site.footer-links.googleplus %}
    <div class="tooltip">
        <a href="https://plus.google.com/{{ site.footer-links.googleplus }}">
            <i class="svg-icon googleplus"></i>
        </a>
        <span class="tooltiptext">Google+</span>
    </div>
{% endif %}
{% if site.footer-links.resume %}
    <div class="tooltip">
        <a href="{{ site.footer-links.resume }}">
            <i class="svg-icon document"></i>
        </a>
        <span class="tooltiptext">Resume</span>
    </div>
{% endif %}
